body { 
    background-color: ivory; 
}

canvas {
    border:1px solid grey; 
}

input {
    width: 125px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 12px;
    padding: 4px;
}

button {
    width: 135px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 15px;
    padding: 4px;
}